version: 2.1

jobs:
  lint-backend:
    docker:
      - image: golang:1.20.2-alpine3.17
    steps:
      - checkout
      - run:
          name: get linter
          command: |
            cd /
            wget -O- -nv https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s 
            golangci-lint --version
      - run:
          name: lint backend
          command: |
            cd backend
            golangci-lint run

  build-backend-image:
    docker:
      - image: cimg/base:2021.04
    steps:
      - checkout
      - run:
          name: Docker login
          command: echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
      - run:
          name: Docker build
          command: docker build -t madima/mysheet:${CIRCLE_WORKFLOW_ID} -f .circleci/Dockerfile_backend .
      - run:
          name: Docker push
          command: docker push madima/mysheet:${CIRCLE_WORKFLOW_ID}

workflows:
  default:
    jobs:
      - lint-backend
      - build-backend-image:
          requires: [lint-backend]
